@media (min-width: 2000px) {
  .contact-content__body {
    border-right: none;
  }
}

@media (max-width:1300px) {
  .contact-form__label {
    max-width: 38vw;
  }

  .contact-content__body {
    width: 47%;
    padding-bottom: 100px;
  }
}

@media (max-width:1024px) {
  .contact-content__container {
    max-width: 945px;
  }

  .contact-form__label {
    max-width: 33vw;
  }

  .contact-form {
    margin-bottom: 37px;
  }

  .messenger-item:not(:last-child) {
    margin-right: 30px;
  }

  .messenger-item__link {
    width: 60px;
    height: 60px;
  }

  .messenger-item__link::before {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}