@media (max-width: 1024px) {
  .footer {
    padding: 20px 0;
    background-color: #000000;
  }

  .social-item:not(:last-child) {
    margin-right: 25px;
  }

  .social-item__link {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column-reverse;
  }

  .social-list {
    margin-bottom: 15px;
  }

  .social-item__link {
    width: 50px;
    height: 50px;
  }
}