.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0; 
  width: 100%;
}

.header-menu {
  width: 100%;
  background: var(--dark-background);
}

.header-menu__container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-burger {
	display: none;
}

.header-logo {
  margin-right: 174px;
}

.header-logo__picture {
  display: flex;
}

.header-logo__img {
  display: block;
  align-self: center;
  cursor: pointer;
}

.header-nav {
  padding: 35px 0px;
  margin-right: 275px;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item__link {
  cursor: pointer;
  padding: 4px 6px 6px 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white-text);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-item__link:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav-item__link:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in-out;
}

.nav-item__link:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.header-login__btn {
  display: inline;
  height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 0;
  color: var(--white-text);
  font-size: 18px;
  cursor: pointer;
}

.header-login__img {
  display: inline-block;
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 4px;
}

.header-login__btn:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.header-login__btn:hover .header-login__img{
  fill: var(--hover-color);
  transition: fill 0.3s ease-in-out;
}

.header-login__btn:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in-out;
}

.header-login__btn:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.header-login__btn:active .header-login__img{
  fill: var(--focus-color);
  transition: color 0.3s ease-in-out;
}

.header-mediaserch {
  display: none;
}

.header-submenu {
  background: rgba(0, 0, 0, 0.4);
}

.header-submenu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu-nav {
  padding: 21px 0px 18px 0px;
  margin-left: -5px;
}

.submenu-list {
  display: inline-flex;
  align-items: center;
}

.submenu-item {
  position: relative;
}

.submenu-item:not(:last-child) {
  margin-right: 82px;
}

.submenu-item__btn {
  position: relative;
  display: inline;
  padding-left: 5px;
  padding-right: 26px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}


.submenu-item__btn::after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 10px;
  width: 12px;
  height: 7px;
  background-image: url('../img/galbottom.svg');
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.is-open.submenu-item .submenu-item__btn::after{
  background-image: url('../img/galbottom-active-white.svg');
  background-color: transparent;
}

.is-open.submenu-item .submenu-item__btn:focus{
  background-color: transparent;
}

.is-open.submenu-item .submenu-item__btn:hover::after{
  background-image: url('../img/galbottom-active-hover.svg');
}

.submenu-item__btn:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.submenu-item__btn:hover {
  color: #9D5CD0;
  transition: color 0.3s ease-in-out;
}

.submenu-item__btn:hover::after {
  background-image: url('../img/galbottom-hover.svg');
  transition: background-image 0.3s ease-in-out;
}

.submenu-item__btn:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.submenu-item__btn:active::after {
  background-image: url('../img/galbottom-active.svg');
  transition: background-image 0.3s ease-in-out;
}

.hidemenu-list{
  display: none;
  position: absolute;
  overflow: auto;
  top: 49px;
  left: -30px;
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-top: 0px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  transition: display .3s ease-in-out;
}

/* .hidemenu-list--one {
  display: none;
  left: -30px;
}

.is-open.hidemenu-list--one {
  display: block;
  transition: display .3s ease-in-out;
} */

.is-open.submenu-item .hidemenu-list  {
  display: block;
  transition: display .3s ease-in-out;
}

.hidemenu-item {
  background-size: cover;
  width: 220px;
  height: 40px;
}

.hidemenu-item:not(:last-child) {
  margin-bottom: 20px;
}

.hidemenu-item__link {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  padding: 9px 15px 12px 15px;
  color: #FFFFFF;
}

.hidemenu-item__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.hidemenu-item__link:hover::before,
.hidemenu-item__link:focus::before{
  border: 2px solid var(--hover-color);
  transition: border .3s ease-in-out;
}

.hidemenu-item__link:active::before{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.hidemenu-item--tintoretto {
  background-image: url('../img/tintoretto.jpg'); 
}

.hidemenu-item--fridrih {
  background-image: url('../img/fridrih.jpg'); 
}

.hidemenu-item--leonardo {
  background-image: url('../img/leonardo.jpg'); 
}

.hidemenu-item--verokkyo {
  background-image: url('../img/veroccyo.jpg'); 
}

.hidemenu-item--mone {
  background-image: url('../img/mone.jpg'); 
}

.hidemenu-item--sisley {
  background-image: url('../img/sisley.jpg'); 
}

.hidemenu-item--mane {
  background-image: url('../img/mone.jpg'); 
}

.hidemenu-item--renuar {
  background-image: url('../img/renuar.jpg'); 
}

.hidemenu-item--vangog {
  background-image: url('../img/vangog.jpg'); 
}

.hidemenu-item--sezann {
  background-image: url('../img/sezan.jpg'); 
}

.hidemenu-item--gogen {
  background-image: url('../img/gogen.jpg'); 
}

.hidemenu-item--sera {
  background-image: url('../img/sera.jpg'); 
}

.hidemenu-item--kandinskiy {
  background-image: url('../img/kandinskiy.jpg'); 
}

.hidemenu-item--marinetti {
  background-image: url('../img/marinetti.jpg'); 
}

.hidemenu-item--malevich {
  background-image: url('../img/malevich.jpg'); 
}

.hidemenu-item--picasso {
  background-image: url('../img/picasso.jpg'); 
}

.hidemenu-item--karra {
  background-image: url('../img/karra.jpg'); 
}

.hidemenu-item--pratella {
  background-image: url('../img/pratella.jpg'); 
}

.hidemenu-item--severini {
  background-image: url('../img/saveriny.jpg'); 
}

.hidemenu-item--balla {
  background-image: url('../img/balla.jpg'); 
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  z-index: 2;
  bottom: 40px;
  right: 19px;
  width: 2px;
  background: #000;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background:#ffffff;
  border-radius: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  opacity: 1;
  /* transition: opacity 1s linear; */
}

 .simplebar-scrollbar.simplebar-visible:before {
   /* When hovered, remove all transitions from drag handle */
   opacity: 1;
  /* transition: opacity 0s linear; */
} 

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.header-search__submit {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  cursor: pointer;
}

.header-search__submit:focus {
  outline: transparent;
}

.header-search__field {
  width: 218px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.85);
  color: #ffffff;
}

.header-search__field::placeholder {
  position: absolute;
  left: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header-search:hover .header-search__field {
  border-bottom: 1px solid  var(--hover-color);
}

.header-search__field:focus {
  border-bottom: 1px solid  var(--focus-color);
  outline: transparent;
}