@media (min-width: 2500px) {
  .logo {
    margin-right: 5vw;
  }

  .nav-item:not(:last-child) {
    margin-right: 1.6vw;
  }

  .submenu-item:not(:last-child) {
    margin-right: 2.3vw;
  }
}

@media (max-width: 1300px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .burger-open .media-menu {
    display: block;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 250;
  }

  .media-nav__list {
    padding-top: 98px;
    margin-left: -5px;
  }

  .media-nav__link {
    padding: 4px 6px 6px 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #ffffff;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .media-nav__link:focus {
    background-color: var(--focus-color);
    outline: transparent;
  }

  .media-nav__link:hover {
    color: var(--hover-color);
  }
  
  .media-nav__link:active {
    color: var(--focus-color);
    background-color: transparent;
  }

  .header-menu__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header-burger {
    position: relative;
    display: flex;
    z-index: 100;
    padding: 0;
    /* margin-right: 32.5vw; */
    width: 36px;
    height: 28px;
    cursor: pointer;
  }
  
  .header-burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3.65px;
    background-color: white;
    transition: width .3s ease-in-out, background-color .3s ease-in-out;
  }
  
  .header-burger__line:nth-child(1) {
    left: 0;
    top: 0;
  }
  
  .header-burger__line:nth-child(2) {
    left: 0;
    top: 12px;
    width: 28px;
  }
  
  .header-burger__line:nth-child(3) {
    left: 0;
    bottom: 0;
    width: 24px;
  }
  
  .header-burger:hover .header-burger__line:nth-child(1),
  .header-burger:focus .header-burger__line:nth-child(1){
    width: 29px;
    background-color: var(--hover-color);
  }
  
  .header-burger:hover .header-burger__line:nth-child(2),
  .header-burger:focus .header-burger__line:nth-child(1){
    width: 22px;
    background-color: var(--hover-color);
  }
  
  .header-burger:hover .header-burger__line:nth-child(3),
  .header-burger:focus .header-burger__line:nth-child(3){
    width: 17px;
    background-color: var(--hover-color);
  }

  .burger-open .header-burger:hover .header-burger__line:nth-child(1),
  .burger-open .header-burger:focus .header-burger__line:nth-child(1){
    width: 36px;
    background-color: var(--hover-color);
  }

  .burger-open .header-burger:hover .header-burger__line:nth-child(3),
  .burger-open .header-burger:focus .header-burger__line:nth-child(3){
    width: 36px;
    background-color: var(--hover-color);
  }
  
  .burger-open .header-burger__line:nth-child(2){
    display: none;
  }
  
  .burger-open .header-burger__line:nth-child(1){
    left: 0;
    top: 12px;
    width: 100%;
    transform: rotate(45deg);
  }
  
  .burger-open .header-burger__line:nth-child(3){
    left: 0;
    top: 12px;
    width: 100%;
    transform: rotate(-45deg);
  }
  
  .burger-open .header-burger:hover .header-burger__line,
  .burger-open .header-burger:focus .header-burger__line{
    width: 90%;
    background-color: var(--hover-color);
  }

  .header-nav {
    display: none;
  }

   .burger-open .media-menu {
    display: block;
    z-index: 100;
  }

  .media-menu__btn {
    position: relative;
    margin-top: 110px;
    padding: 15px 90px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 100px;
    border: 2px solid var(--fialca-color);
    cursor: pointer;
  }

  .media-menu__btn::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border-radius: 100px;
    border: 1px solid var(--fialca-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .media-menu__btn:focus::before {
    opacity: 1;
  }
  
  .media-menu__btn:hover {
    background-color: var(--fialca-color);
  }
  
  .media-menu__btn:active {
    background-color: var(--focus-color);
    border: 2px solid var(--biloba-color);
  }
  
  .media-menu__btn:active::before {
    opacity: 0;
  }

  .logo {
    /* width: 187px; */
    margin-right: 0;
  }

  .header-login__btn {
    display: none;
  }

  .header-submenu {
    display: none;
  }

  .media-search {
    display: block;
  }

  .media-search__field {
    padding: 0;
    text-align: right;
    color: white;
    width: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    opacity: 0;
    transition: opacity .3s ease-in-out, width .3s ease-in-out;
  }

  .media-search__field.open {
    text-align: right;
    width: 218px;
    opacity: 1;
  }

  .media-search__submit {
    padding: 0;
    width: 29px;
    height: 29px;
    background: url('../img/Search-media.svg') no-repeat center right;
  }

  .media-search__close {
    display: none;
  }

}

@media (max-width: 960px) {
  .media-menu__btn {
    margin-top: 40px;
  }
}

@media (max-width: 768px) { 

  .header-menu__container {
    height: 100px;
  }

  .media-menu__btn {
    margin-top: 110px;
  }

  .media-search {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    z-index: 100;
  }

  .media-search__submit {
    width: 27px;
    height: 27px;
  }

  .media-search__field.open {
    text-align: right;
    width: 78vw;
    opacity: 1;
    transition: width .3s ease-in-out, opacity .3s ease-in-out;
  }

  .media-search__close {
    position: relative;
    width: 29px;
    height: 29px;
  }

  .media-search__close::after {
    content: '';
    position: absolute;
    width: 37px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.7;
    top: 13px;
    left: 0;
    transform: rotate(45deg);
  }

  .media-search__close::before {
    content: '';
    position: absolute;
    width: 37px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.7;
    top: 13px;
    left: 0;
    transform: rotate(-45deg);
  }

   .hidden {
    display: none;
    opacity: 0;
    transition: display .3s ease-in-out, opacity .3s ease-in-out;
  }
}

@media (max-width: 700px) { 
  .header-menu__container {
    height: 45px;
  }

  .header-burger {
    width: 25px;
    height: 18px;
  }
  
  .header-burger__line {
    height: 2px;
  }
  
  .header-burger__line:nth-child(2) {
    left: 0;
    top: 8px;
    width: 15px;
  }
  
  .header-burger__line:nth-child(3) {
    width: 11px;
  }
  
  .header-burger:hover .header-burger__line:nth-child(1),
  .header-burger:focus .header-burger__line:nth-child(1){
    width: 16px;
  }
  
  .header-burger:hover .header-burger__line:nth-child(2),
  .header-burger:focus .header-burger__line:nth-child(2){
    width: 13px;
  }
  
  .header-burger:hover .header-burger__line:nth-child(3),
  .header-burger:focus .header-burger__line:nth-child(3){
    width: 9px;
  }

  .burger-open .header-burger:hover .header-burger__line:nth-child(1),
  .burger-open .header-burger:focus .header-burger__line:nth-child(1){
    width: 19px;
  
  }

  .burger-open .header-burger:hover .header-burger__line:nth-child(3),
  .burger-open .header-burger:focus .header-burger__line:nth-child(3){
    width: 19px;
   
  }
  
  .burger-open .header-burger__line:nth-child(1){
    left: 0;
    top: 6px;
    width: 100%;
    transform: rotate(45deg);
  }
  
  .burger-open .header-burger__line:nth-child(3){
    left: 0;
    top: 6px;
    width: 100%;
    transform: rotate(-45deg);
  }

  .logo {
    padding: 0;
  }

  .media-search__submit {
    width: 18px;
    height: 18px;
  }

  .burger-open .media-search {
    display: none;
  }

  .media-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .media-nav__list {
    padding-top: 45px;
    margin-left: -5px;
  }

  .media-nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .media-menu__btn {
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px 28px;
    font-size: 12px;
    line-height: 1;
  }

  .media-menu__btn::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border-radius: 100px;
    border: 1px solid var(--fialca-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .media-menu__btn:focus::before {
    opacity: 1;
  }
  
  .media-menu__btn:hover {
    background-color: var(--fialca-color);
  }
  
  .media-menu__btn:active {
    background-color: var(--focus-color);
    border: 2px solid var(--biloba-color);
  }
  
  .media-menu__btn:active::before {
    opacity: 0;
  }

  .media-search__close {
    position: relative;
    width: 15px;
    height: 15px;
    top: -30px;
  }

  .media-search__close::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.7;
    top: 13px;
    left: 0;
    transform: rotate(45deg);
  }

  .media-search__close::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.7;
    top: 13px;
    left: 0;
    transform: rotate(-45deg);
  }
  
}

@media (max-width: 400px) {
  .media-container {
    display: block;
  }

  .media-menu__btn {
    margin-top: 20px;
  }
}