.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0; 
  width: 100%;
}

.header-menu {
  height: 100px;
  width: 100%;
  background: var(--dark-background);
}

.header-menu__container {
  display: flex;
  justify-content: start;
  height: 100%;
  align-items: center;
}

.header-burger {
	display: none;
}

.header-logo__picture {
  height: 100%;
  display: flex;
}

.header-logo__img {
  display: block;
  align-self: center;
  cursor: pointer;
}

.header-nav {
  height: 100%;
  padding: 0;
  margin-left: 174px;
  margin-right: 269px;
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item__link {
  cursor: pointer;
  padding: 4px 6px 6px 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white-text);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-item__link:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav-item__link:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in-out;
}

.nav-item__link:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.header-login__btn {
  display: inline;
  height: 30px;
  padding: 2px 2px 8px 2px;
  margin: 0;
  color: var(--white-text);
  font-size: 18px;
  cursor: pointer;
}

.header-login__img {
  display: inline-block;
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 7px;
}

.header-login__btn:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.header-login__btn:hover .header-login__img{
  fill: var(--hover-color);
  transition: fill 0.3s ease-in-out;
}

.header-login__btn:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in-out;
}

.header-login__btn:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.header-login__btn:active .header-login__img{
  fill: var(--focus-color);
  transition: color 0.3s ease-in-out;
}

.header-mediaserch {
  display: none;
}

.header-submenu {
  background: rgba(0, 0, 0, 0.4);
  height: 70px;
}

.header-submenu__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu-nav {
  height: 100%;
}

.submenu-list {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.submenu-item {
  position: relative;
}

.submenu-item:not(:last-child) {
  margin-right: 84px;
}

.submenu-item__btn {
  position: relative;
  display: inline;
  padding-left: 2px;
  padding-right: 22px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}


.submenu-item__btn::after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 7px;
  width: 12px;
  height: 7px;
  background-image: url('../img/galbottom.svg');
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submenu-item__btn:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.submenu-item__btn:hover {
  color: #9D5CD0;
  transition: color 0.3s ease-in-out;
}

.submenu-item__btn:hover::after {
  background-image: url('../img/galbottom-hover.svg');
  transition: background-image 0.3s ease-in-out;
}

.submenu-item__btn:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.submenu-item__btn:active::after {
  background-image: url('../img/galbottom-active.svg');
  transition: background-image 0.3s ease-in-out;
}

.hidemenu-list{
  display: none;
  position: absolute;
  overflow: auto;
  top: 40px;
  left: 0;
  width: 300px;
  height: 300px;
  padding: 40px;
  margin-left: 30px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.8);
  transition: display .3s ease-in-out;
}

.is-open.hidemenu-list  {
  display: block;
  transition: display .3s ease-in-out;
}

.hidemenu-item {
  background-size: cover;
  width: 220px;
  height: 40px;
}


.hidemenu-item:not(:last-child) {
  margin-bottom: 20px;
}

.hidemenu-item__link {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  padding: 9px 15px 12px 15px;
  color: #FFFFFF;
}

.hidemenu-item__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.hidemenu-item__link:hover::before,
.hidemenu-item__link:focus::before{
  border: 2px solid var(--hover-color);
  transition: border .3s ease-in-out;
}

.hidemenu-item__link:active::before{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.hidemenu-item--tintoretto {
  background-image: url('../img/tintoretto.jpg'); 
}

.hidemenu-item--fridrih {
  background-image: url('../img/fridrih.jpg'); 
}

.hidemenu-item--leonardo {
  background-image: url('../img/leonardo.jpg'); 
}

.hidemenu-item--verokkyo {
  background-image: url('../img/veroccyo.jpg'); 
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background:#ffffff;
  border-radius: 0px;
  left: 4px;
  right: 4px;
  opacity: 0.1;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  transition: opacity 0s linear;
}
.header-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.header-search__submit {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  cursor: pointer;
}

.header-search__submit:focus {
  outline: transparent;
}

.header-search__field {
  width: 218px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.85);
  color: #ffffff;
}

.header-search__field::placeholder {
  position: absolute;
  left: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header-search:hover .header-search__field {
  border-bottom: 1px solid  var(--hover-color);
}

.header-search__field:focus {
  border-bottom: 1px solid  var(--focus-color);
  outline: transparent;
}

/* .choices__inner {
  padding: 0;
  padding-top: 10px;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.choices[data-type*=select-one]::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 0px;
  width: 20px;
  height: 8px;
  border: none;
  background-color: none;
  background-image: url('../img/galbottom.svg');
  background-position: 100% 0%;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.is-open.choices[data-type*=select-one]:after {
  content: "";
  top: 30px;
  background-image: url('../img/galbottom-active-white.svg');
  transition: background-image .3s ease-in-out;
}

.choices:hover .choices__list--single>.choices__item{
  color: var(--fialca-color);
  transition: color .3s ease-in-out;
}

.choices[data-type*=select-one]:hover::after{
  background-image: url('../img/galbottom-hover.svg');
  transition: background-image .3s ease-in-out;
}

.choices:focus {
  background-color: var(--focus-color);
  transition: color .3s ease-in-out;
}

.choices:active .choices__list--single>.choices__item{
  color: var(--focus-color);
  transition: color .3s ease-in-out;
}

.choices[data-type*=select-one]:active::after{
  background-image: url('../img/galbottom-active.svg');
  transition: background-image .3s ease-in-out;
}

.choices__list {
  padding-right: 15px;
  background-color: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

.choices__list--dropdown {
  width: 300px;
  height: 300px;
  padding: 40px;
  margin-left: 30px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.choices__item:not(:first-child, :last-child) {
  margin-bottom: 20px;
}

.choices__item {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-size: cover;
}

.choices__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.choices__item--selectable:not(:first-child):hover::before,
.choices__item--selectable:not(:first-child):focus::before{
  border: 2px solid var(--hover-color);
  transition: border .3s ease-in-out;
}

.choices__item--selectable:not(:first-child):active::before{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: border .3s ease-in-out, background .3s ease-in-out;
}


.choices__item[data-id='2'] {
  background-image: url('../img/tintoretto.jpg'); 
}

.choices__item[data-id='3'] {
  background-image: url('../img/fridrih.jpg'); 
}

.choices__item[data-id='4'] {
  background-image: url('../img/leonardo.jpg'); 
}

.choices__item[data-id='5'] {
  background-image: url('../img/veroccyo.jpg'); 
}

.choices__item--disabled {
  display: none;
}

.choices__list--single>.choices__item {
  background-image: none;
  font-size: 18px;
  transition: color .3s ease-in-out;
}


.submenu-item__link {
  position: relative;
  padding-left: 2px;
  padding-right: 22px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}


.submenu-item__link::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 7px;
  width: 12px;
  height: 7px;
  background-image: url('../img/galbottom.svg');
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submenu-item__link:focus {
  background-color: var(--focus-color);
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.submenu-item__link:hover {
  color: #9D5CD0;
  transition: color 0.3s ease-in-out;
}

.submenu-item__link:hover::after {
  background-image: url('../img/galbottom-hover.svg');
  transition: background-image 0.3s ease-in-out;
}

.submenu-item__link:active {
  color: var(--focus-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.submenu-item__link:active::after {
  background-image: url('../img/galbottom-active.svg');
  transform: rotate(180deg);
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
} */

