.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
}

.modal.visible .modal-gallery {
  transform: scale(1);
}

.modal-gallery {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 900px;
  height: 500px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  transform: scale(0);
  transition: transform .5s ease;
}

.modal-descr {
  padding: 120px 20px 50px 50px;
}

.modal-descr__autor{
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal-descr__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal-descr__year {
  display: block;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-text);

}

.modal-descr__text {
  margin: 0;
  font-weight: 400;
  padding-right: 10px;
  width: 400px;
  height: 220px;
  font-size: 16px;
  line-height: 30px;
}

.modal-descr__text .simplebar-track.simplebar-vertical {
  top: 40px;
  z-index: 2;
  bottom: 40px;
  right: 0px;
  width: 2px;
  background: #fff;
}

.modal-descr__text .simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background:#000000;
  border-radius: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  opacity: 1;
  /* transition: opacity 1s linear; */
} 

.modal-gallery__btn {
  position: relative;
  z-index: 200;
  width: 20px;
  height: 20px;
  padding: 2px;
  top: 17px;
  right: 10px;
  /* margin-top: 17px;
  margin-right: 10px; */
}

.modal-gallery__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 1px;
  height: 21px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-gallery__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 1px;
  height: 21px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.modal-gallery__img {
  padding: 0;
}

.modal-descr {
  height: 100%;
}